.project__photo{
    display: grid;
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    border-radius: .5rem;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 4px;
    box-shadow: 0 4px 8px rgba(47,10,13,.25);
}
  
.project__img{
    width: auto;
    height: auto;
    border-radius: 2%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}
  
.project__description{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
    margin-bottom: var(--mb-2);
}
  
  .swiper-pagination{
    position: initial;
  }
  
.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

  /*===== SERVICES =====*/
.services__container{
    display: flex;
  justify-items: center;
}

.contact__inputs{
  grid-template-columns: auto;
}

.services__data{
    height: 75px;
    width: 100px;
    padding: 0;
    background-color: #FFF;
    border-radius: 25%;
    text-align: center;
    transition: .4s;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}
  
.services__icon, .services__title{
    margin-bottom: var(--mb-2);
    color: var(--first-color);
}
  
.services__icon{
    font-size: 3rem;
}
  
.services__title{
    font-size: var(--h3-font-size);
}
  
.services__description{
    margin-bottom: var(--mb-4);
}
  
.services__data:hover{
    transform: translateY(-.5rem);
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.technology__img{
    width: 100px;
    height: 75px;
}

.code__link{
  color: inherit;
}

.code__link:hover{
  color: var(--first-color-light);
}

@media screen and (min-width: 1024px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
}
